<a href="https://colab.research.google.com/github/prabhatu786/project-no1/blob/master/regreesion_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# LOAD DATASET FROM SKLEARN 
from sklearn.datasets import load_boston
dataset=load_boston() # storing data in variable
print(type(dataset))

# CONVERTING DATASET INTO PANDAS DATAFRAME
data1 = pd.DataFrame(data= np.c_[data['data'], data['target']],
                     columns= data['feature_names'] + ['target'])
print(data1.head())

<class 'sklearn.utils.Bunch'>
   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                5.1               3.5  ...               0.2     0.0
1                4.9               3.0  ...               0.2     0.0
2                4.7               3.2  ...               0.2     0.0
3                4.6               3.1  ...               0.2     0.0
4                5.0               3.6  ...               0.2     0.0

[5 rows x 5 columns]