<a href="https://colab.research.google.com/github/prabhatu786/project-no1/blob/master/regreesion_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# LOAD DATASET FROM SKLEARN 
from sklearn.datasets import load_boston
dataset=load_boston() # storing data in variable
print(type(dataset))
dataset.keys()
# CONVERTING DATASET INTO PANDAS DATAFRAME
data = pd.DataFrame(dataset.data, columns=[dataset.feature_names])
data.describe()

<class 'sklearn.utils.Bunch'>

             CRIM          ZN       INDUS  ...     PTRATIO           B       LSTAT
count  506.000000  506.000000  506.000000  ...  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779  ...   18.455534  356.674032   12.653063
std      8.601545   23.322453    6.860353  ...    2.164946   91.294864    7.141062
min      0.006320    0.000000    0.460000  ...   12.600000    0.320000    1.730000
25%      0.082045    0.000000    5.190000  ...   17.400000  375.377500    6.950000
50%      0.256510    0.000000    9.690000  ...   19.050000  391.440000   11.360000
75%      3.677083   12.500000   18.100000  ...   20.200000  396.225000   16.955000
max     88.976200  100.000000   27.740000  ...   22.000000  396.900000   37.970000

[8 rows x 13 columns]